.delete {
  margin-left: 30px;
  padding: 10px 20px;
  border-radius: 20px;
}

.delete:hover {
  background: #6eefef;
  box-shadow: 0 0 5px rgb(77 84 85), 0 0 25px rgb(77 84 85),
    0 0 50px rgb(77 84 85), 0 0 200px rgb(77 84 85);
  color: white;
}

.ListStyle {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.TelSpan {
}

.NameSpan {
  font-weight: 700;
}

.ContactUl {
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 15px;
}

.ContactItem {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  gap: 20px;

  outline: 1px solid black;
  border-radius: 10px;
}

.ContactName {
  color: whitesmoke;
}

.ContactNumber {
  color: black;
}
